@font-face {
    font-family: 'Chewy';
    src: url('assets/Chewy-Regular.woff') format('woff'),
         url('assets/Chewy-Regular.woff2') format('woff2'),;
}
html, body {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.buttons button {
    font-family: 'Chewy';
    color: white;
    font-size: xx-large;
    background-color: #E73813;
    margin-bottom: 10%;
    padding: 3px 30px;
    border-radius: 15px;
    border: none;
}
.buttons button:hover {
    background-color: #ba2d11;
}
img {
    margin-bottom: 5%;
    width: 90%;
    height: 20%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: red;
}
@media (min-width:768px) {
    img {
        width: 75%;    
        height: 25%;
        margin-bottom: 3%;
    }
}
@media (min-width:768px) {
    img {
        width: 75%;    
        height: 25%;
        margin-bottom: 3%;
    }
}
@media (min-width:992px) {
    img {
        width: 70%;    
        height: 30%;
        margin-bottom: 3%;
    }
}
@media (min-width:1200px) {
    img {
        width: 50%;    
        height: 30%;
        margin-bottom: 3%;
    }
}
